#sign_up_main{
         width: 960px;
    margin: 50px auto;
    font-family: raleway;
    background-color: bisque;
}

input[type=submit] {
    background-color: #FFBC00;
    color: #fff;
    border: 2px solid #FFCB00;
/*    padding: 10px;*/
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 15px;
    position: relative;
    float: right;
/*    top:21px;*/
/*    margin-left: 185px;*/
}
p{
 color:firebrick;   
    text-align: center;
}